Source/IndoorWorx.Library.Silverlight/Service References/ActivityServiceReference/ActivityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3415/ActivityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3415/ActivityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3415/ActivityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityService_RetrieveAllActivityTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllActivityTypes" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllActivityTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllActivityTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllEquipment" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllEquipmentFeatures_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllEquipmentFeatures" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllEquipmentFeatures_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllEquipmentFeaturesResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllManufacturers" />
  </wsdl:message>
  <wsdl:message name="IActivityService_RetrieveAllManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllManufacturersResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivityService">
    <wsdl:operation name="RetrieveAllActivityTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllActivityTypes" message="tns:IActivityService_RetrieveAllActivityTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllActivityTypesResponse" message="tns:IActivityService_RetrieveAllActivityTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllEquipment" message="tns:IActivityService_RetrieveAllEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllEquipmentResponse" message="tns:IActivityService_RetrieveAllEquipment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllEquipmentFeatures">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllEquipmentFeatures" message="tns:IActivityService_RetrieveAllEquipmentFeatures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllEquipmentFeaturesResponse" message="tns:IActivityService_RetrieveAllEquipmentFeatures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllManufacturers" message="tns:IActivityService_RetrieveAllManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityService/RetrieveAllManufacturersResponse" message="tns:IActivityService_RetrieveAllManufacturers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActivityService" type="tns:IActivityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveAllActivityTypes">
      <soap:operation soapAction="http://tempuri.org/IActivityService/RetrieveAllActivityTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllEquipment">
      <soap:operation soapAction="http://tempuri.org/IActivityService/RetrieveAllEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllEquipmentFeatures">
      <soap:operation soapAction="http://tempuri.org/IActivityService/RetrieveAllEquipmentFeatures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAllManufacturers">
      <soap:operation soapAction="http://tempuri.org/IActivityService/RetrieveAllManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityService">
    <wsdl:port name="BasicHttpBinding_IActivityService" binding="tns:BasicHttpBinding_IActivityService">
      <soap:address location="http://localhost:3415/ActivityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>