RoughCutEditor/RoughCutEditor/RCE.Modules.CompositeOutput/Service References/CompositeStreamManifestService/CompositeStreamManifestService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RCE.Web/CompositeStreamManifestService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/rce/" />
  <xs:element name="CreateCompositeStream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/rce/" minOccurs="0" name="project" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompositeStreamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>