Source/IndoorWorx.Library.Silverlight/Service References/TrainingSetServiceReference/TrainingSetService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/TrainingSetService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" />
  <xs:import schemaLocation="http://localhost:3415/TrainingSetService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" />
  <xs:element name="CreateTrainingSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" minOccurs="0" name="request" nillable="true" type="q1:CreateTrainingSetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTrainingSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" minOccurs="0" name="CreateTrainingSetResult" nillable="true" type="q2:CreateTrainingSetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>