Source/IndoorWorx.Library.Silverlight/Service References/SportingHabitsServiceReference/SportingHabitsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SportingHabitsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3415/SportingHabitsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3415/SportingHabitsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3415/SportingHabitsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISportingHabitsService_RetrieveTrainingVolumeOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTrainingVolumeOptions" />
  </wsdl:message>
  <wsdl:message name="ISportingHabitsService_RetrieveTrainingVolumeOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveTrainingVolumeOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="ISportingHabitsService_RetrieveIndoorTrainingFrequency_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndoorTrainingFrequency" />
  </wsdl:message>
  <wsdl:message name="ISportingHabitsService_RetrieveIndoorTrainingFrequency_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveIndoorTrainingFrequencyResponse" />
  </wsdl:message>
  <wsdl:message name="ISportingHabitsService_RetrieveCompetitiveLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompetitiveLevels" />
  </wsdl:message>
  <wsdl:message name="ISportingHabitsService_RetrieveCompetitiveLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveCompetitiveLevelsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISportingHabitsService">
    <wsdl:operation name="RetrieveTrainingVolumeOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveTrainingVolumeOptions" message="tns:ISportingHabitsService_RetrieveTrainingVolumeOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveTrainingVolumeOptionsResponse" message="tns:ISportingHabitsService_RetrieveTrainingVolumeOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndoorTrainingFrequency">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveIndoorTrainingFrequency" message="tns:ISportingHabitsService_RetrieveIndoorTrainingFrequency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveIndoorTrainingFrequencyResponse" message="tns:ISportingHabitsService_RetrieveIndoorTrainingFrequency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompetitiveLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveCompetitiveLevels" message="tns:ISportingHabitsService_RetrieveCompetitiveLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISportingHabitsService/RetrieveCompetitiveLevelsResponse" message="tns:ISportingHabitsService_RetrieveCompetitiveLevels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISportingHabitsService" type="tns:ISportingHabitsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveTrainingVolumeOptions">
      <soap:operation soapAction="http://tempuri.org/ISportingHabitsService/RetrieveTrainingVolumeOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveIndoorTrainingFrequency">
      <soap:operation soapAction="http://tempuri.org/ISportingHabitsService/RetrieveIndoorTrainingFrequency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveCompetitiveLevels">
      <soap:operation soapAction="http://tempuri.org/ISportingHabitsService/RetrieveCompetitiveLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SportingHabitsService">
    <wsdl:port name="BasicHttpBinding_ISportingHabitsService" binding="tns:BasicHttpBinding_ISportingHabitsService">
      <soap:address location="http://localhost:3415/SportingHabitsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>