Source/IndoorWorx.Library.Silverlight/Service References/IntervalMetadataServiceReference/IntervalMetadataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntervalMetadataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3415/IntervalMetadataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3415/IntervalMetadataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3415/IntervalMetadataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntervalMetadataService_FetchIntervalLevels_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchIntervalLevels" />
  </wsdl:message>
  <wsdl:message name="IIntervalMetadataService_FetchIntervalLevels_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchIntervalLevelsResponse" />
  </wsdl:message>
  <wsdl:message name="IIntervalMetadataService_FetchIntervalTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchIntervalTypes" />
  </wsdl:message>
  <wsdl:message name="IIntervalMetadataService_FetchIntervalTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchIntervalTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IIntervalMetadataService_FetchEffortTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchEffortTypes" />
  </wsdl:message>
  <wsdl:message name="IIntervalMetadataService_FetchEffortTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchEffortTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntervalMetadataService">
    <wsdl:operation name="FetchIntervalLevels">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchIntervalLevels" message="tns:IIntervalMetadataService_FetchIntervalLevels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchIntervalLevelsResponse" message="tns:IIntervalMetadataService_FetchIntervalLevels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchIntervalTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchIntervalTypes" message="tns:IIntervalMetadataService_FetchIntervalTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchIntervalTypesResponse" message="tns:IIntervalMetadataService_FetchIntervalTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchEffortTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchEffortTypes" message="tns:IIntervalMetadataService_FetchEffortTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntervalMetadataService/FetchEffortTypesResponse" message="tns:IIntervalMetadataService_FetchEffortTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntervalMetadataService" type="tns:IIntervalMetadataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchIntervalLevels">
      <soap:operation soapAction="http://tempuri.org/IIntervalMetadataService/FetchIntervalLevels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchIntervalTypes">
      <soap:operation soapAction="http://tempuri.org/IIntervalMetadataService/FetchIntervalTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchEffortTypes">
      <soap:operation soapAction="http://tempuri.org/IIntervalMetadataService/FetchEffortTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntervalMetadataService">
    <wsdl:port name="BasicHttpBinding_IIntervalMetadataService" binding="tns:BasicHttpBinding_IIntervalMetadataService">
      <soap:address location="http://localhost:3415/IntervalMetadataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>