Source/IndoorWorx.Library.Silverlight/Service References/IntervalMetadataServiceReference/IntervalMetadataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/IntervalMetadataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
  <xs:element name="FetchIntervalLevels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchIntervalLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="FetchIntervalLevelsResult" nillable="true" type="q1:ArrayOfIntervalLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchIntervalTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchIntervalTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="FetchIntervalTypesResult" nillable="true" type="q2:ArrayOfIntervalType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchEffortTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchEffortTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="FetchEffortTypesResult" nillable="true" type="q3:ArrayOfEffortType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>