RoughCutEditor/RoughCutEditor/code/RCE.Modules.EncoderOutput/Service References/ExpressionEncoderService/ExpressionEncoderService58.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rossmcewan/RCE.Web/ExpressionEncoderService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/rce/" />
  <xs:element name="EnqueueJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/rce/" minOccurs="0" name="project" nillable="true" type="q1:Project" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnqueueJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>