POC/VideoPlayerTelemetry/VideoPlayerTelemetry/Service References/DataServiceReference/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30187/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoPlayerTelemetry.Models" />
  <xs:element name="ProvideTelemetryData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvideTelemetryDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoPlayerTelemetry.Models" minOccurs="0" name="ProvideTelemetryDataResult" nillable="true" type="q1:ArrayOfTelemetry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>