Source/IndoorWorx.Library.Silverlight/Service References/TrainingSetTemplateServiceReference/TrainingSetTemplateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/TrainingSetTemplateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
  <xs:import schemaLocation="http://localhost:3415/TrainingSetTemplateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" />
  <xs:import schemaLocation="http://localhost:3415/TrainingSetTemplateService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" />
  <xs:element name="FindAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="FindAllResult" nillable="true" type="q1:ArrayOfTrainingSetTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" minOccurs="0" name="request" nillable="true" type="q2:SaveTemplateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" minOccurs="0" name="SaveResult" nillable="true" type="q3:SaveTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" minOccurs="0" name="request" nillable="true" type="q4:RemoveTemplateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" minOccurs="0" name="RemoveResult" nillable="true" type="q5:RemoveTemplateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>