Source/IndoorWorx.Library.Silverlight/Service References/ApplicationUserServiceReference/ApplicationUserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApplicationUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfActivity" />
          <xs:element minOccurs="0" name="Country" type="tns:Country" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="tns:Gender" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocialProfile" nillable="true" type="tns:ArrayOfSocialMediaProfile" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationUser" nillable="true" type="tns:ApplicationUser" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityType" nillable="true" type="tns:ActivityType" />
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:Equipment" />
          <xs:element minOccurs="0" name="Measurements" nillable="true" type="tns:ArrayOfMeasurement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="ActivityType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:ArrayOfEquipment" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityType" nillable="true" type="tns:ActivityType" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="Equipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityTypes" nillable="true" type="tns:ArrayOfActivityType" />
          <xs:element minOccurs="0" name="EquipmentFeatures" nillable="true" type="tns:ArrayOfEquipmentFeatures" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="tns:Manufacturer" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="ArrayOfActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityType" nillable="true" type="tns:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityType" nillable="true" type="tns:ArrayOfActivityType" />
  <xs:complexType name="ArrayOfEquipmentFeatures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentFeatures" nillable="true" type="tns:EquipmentFeatures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentFeatures" nillable="true" type="tns:ArrayOfEquipmentFeatures" />
  <xs:complexType name="EquipmentFeatures">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:ArrayOfEquipment" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EquipmentFeatures" nillable="true" type="tns:EquipmentFeatures" />
  <xs:complexType name="Manufacturer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Manufacturer" nillable="true" type="tns:Manufacturer" />
  <xs:complexType name="ArrayOfMeasurement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurement" nillable="true" type="tns:Measurement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasurement" nillable="true" type="tns:ArrayOfMeasurement" />
  <xs:complexType name="Measurement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainingZones" nillable="true" type="tns:ArrayOfTrainingZone" />
          <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="tns:UnitOfMeasure" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
  <xs:complexType name="ArrayOfTrainingZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingZone" nillable="true" type="tns:TrainingZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingZone" nillable="true" type="tns:ArrayOfTrainingZone" />
  <xs:complexType name="TrainingZone">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColorRepresentation" nillable="true" type="tns:Colour" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Range" nillable="true" type="tns:Range" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingZone" nillable="true" type="tns:TrainingZone" />
  <xs:complexType name="Colour">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alpha" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Blue" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Green" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Red" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Colour" nillable="true" type="tns:Colour" />
  <xs:complexType name="Range">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="LowerValue" type="xs:double" />
          <xs:element minOccurs="0" name="UpperValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Range" nillable="true" type="tns:Range" />
  <xs:complexType name="UnitOfMeasure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitOfMeasure" nillable="true" type="tns:UnitOfMeasure" />
  <xs:simpleType name="Country">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Afghanistan" />
      <xs:enumeration value="Akrotiri" />
      <xs:enumeration value="Albania" />
      <xs:enumeration value="Algeria" />
      <xs:enumeration value="AmericanSamoa" />
      <xs:enumeration value="Andorra" />
      <xs:enumeration value="Angola" />
      <xs:enumeration value="Anguilla" />
      <xs:enumeration value="Antarctica" />
      <xs:enumeration value="AntiguaAndBarbuda" />
      <xs:enumeration value="Argentina" />
      <xs:enumeration value="Armenia" />
      <xs:enumeration value="Aruba" />
      <xs:enumeration value="AshmoreAndCartierIslands" />
      <xs:enumeration value="Australia" />
      <xs:enumeration value="Austria" />
      <xs:enumeration value="Azerbaijan" />
      <xs:enumeration value="Bahamas" />
      <xs:enumeration value="Bahrain" />
      <xs:enumeration value="Bangladesh" />
      <xs:enumeration value="Barbados" />
      <xs:enumeration value="BassasDaIndia" />
      <xs:enumeration value="Belarus" />
      <xs:enumeration value="Belgium" />
      <xs:enumeration value="Belize" />
      <xs:enumeration value="Benin" />
      <xs:enumeration value="Bermuda" />
      <xs:enumeration value="Bhutan" />
      <xs:enumeration value="Bolivia" />
      <xs:enumeration value="BosniaAndHerzegovina" />
      <xs:enumeration value="Botswana" />
      <xs:enumeration value="BouvetIsland" />
      <xs:enumeration value="Brazil" />
      <xs:enumeration value="BritishIndianOceanTerritory" />
      <xs:enumeration value="BritishVirginIslands" />
      <xs:enumeration value="Brunei" />
      <xs:enumeration value="Bulgaria" />
      <xs:enumeration value="BurkinaFaso" />
      <xs:enumeration value="Burma" />
      <xs:enumeration value="Burundi" />
      <xs:enumeration value="Cambodia" />
      <xs:enumeration value="Cameroon" />
      <xs:enumeration value="Canada" />
      <xs:enumeration value="CapeVerde" />
      <xs:enumeration value="CaymanIslands" />
      <xs:enumeration value="CentralAfricanRepublic" />
      <xs:enumeration value="Chad" />
      <xs:enumeration value="Chile" />
      <xs:enumeration value="China" />
      <xs:enumeration value="ChristmasIsland" />
      <xs:enumeration value="ClippertonIsland" />
      <xs:enumeration value="CocosIslands" />
      <xs:enumeration value="Colombia" />
      <xs:enumeration value="Comoros" />
      <xs:enumeration value="DemocraticRepublicfTheCongo" />
      <xs:enumeration value="RepublicOfTheCongo" />
      <xs:enumeration value="CookIslands" />
      <xs:enumeration value="CoralSeaIslands" />
      <xs:enumeration value="CostaRica" />
      <xs:enumeration value="CoteDIvoire" />
      <xs:enumeration value="Croatia" />
      <xs:enumeration value="Cuba" />
      <xs:enumeration value="Cyprus" />
      <xs:enumeration value="CzechRepublic" />
      <xs:enumeration value="Denmark" />
      <xs:enumeration value="Dhekelia" />
      <xs:enumeration value="Djibouti" />
      <xs:enumeration value="Dominica" />
      <xs:enumeration value="DominicanRepublic" />
      <xs:enumeration value="Ecuador" />
      <xs:enumeration value="Egypt" />
      <xs:enumeration value="ElSalvador" />
      <xs:enumeration value="EquatorialGuinea" />
      <xs:enumeration value="Eritrea" />
      <xs:enumeration value="Estonia" />
      <xs:enumeration value="Ethiopia" />
      <xs:enumeration value="EuropaIsland" />
      <xs:enumeration value="FalklandIslands" />
      <xs:enumeration value="FaroeIslands" />
      <xs:enumeration value="Fiji" />
      <xs:enumeration value="Finland" />
      <xs:enumeration value="France" />
      <xs:enumeration value="FrenchGuiana" />
      <xs:enumeration value="FrenchPolynesia" />
      <xs:enumeration value="FrenchSouthernAndAntarcticLands" />
      <xs:enumeration value="Gabon" />
      <xs:enumeration value="Gambia" />
      <xs:enumeration value="GazaStrip" />
      <xs:enumeration value="Georgia" />
      <xs:enumeration value="Germany" />
      <xs:enumeration value="Ghana" />
      <xs:enumeration value="Gibraltar" />
      <xs:enumeration value="GloriosoIslands" />
      <xs:enumeration value="Greece" />
      <xs:enumeration value="Greenland" />
      <xs:enumeration value="Grenada" />
      <xs:enumeration value="Guadeloupe" />
      <xs:enumeration value="Guam" />
      <xs:enumeration value="Guatemala" />
      <xs:enumeration value="Guernsey" />
      <xs:enumeration value="Guinea" />
      <xs:enumeration value="GuineaBissau" />
      <xs:enumeration value="Guyana" />
      <xs:enumeration value="Haiti" />
      <xs:enumeration value="HeardIslandAndMcDonaldIslands" />
      <xs:enumeration value="HolySee" />
      <xs:enumeration value="Honduras" />
      <xs:enumeration value="HongKong" />
      <xs:enumeration value="Hungary" />
      <xs:enumeration value="Iceland" />
      <xs:enumeration value="India" />
      <xs:enumeration value="Indonesia" />
      <xs:enumeration value="Iran" />
      <xs:enumeration value="Iraq" />
      <xs:enumeration value="Ireland" />
      <xs:enumeration value="IsleOfMan" />
      <xs:enumeration value="Israel" />
      <xs:enumeration value="Italy" />
      <xs:enumeration value="Jamaica" />
      <xs:enumeration value="JanMayen" />
      <xs:enumeration value="Japan" />
      <xs:enumeration value="Jersey" />
      <xs:enumeration value="Jordan" />
      <xs:enumeration value="JuanDeNovaIsland" />
      <xs:enumeration value="Kazakhstan" />
      <xs:enumeration value="Kenya" />
      <xs:enumeration value="Kiribati" />
      <xs:enumeration value="NorthKorea" />
      <xs:enumeration value="SouthKorea" />
      <xs:enumeration value="Kuwait" />
      <xs:enumeration value="Kyrgyzstan" />
      <xs:enumeration value="Laos" />
      <xs:enumeration value="Latvia" />
      <xs:enumeration value="Lebanon" />
      <xs:enumeration value="Lesotho" />
      <xs:enumeration value="Liberia" />
      <xs:enumeration value="Libya" />
      <xs:enumeration value="Liechtenstein" />
      <xs:enumeration value="Lithuania" />
      <xs:enumeration value="Luxembourg" />
      <xs:enumeration value="Macau" />
      <xs:enumeration value="Macedonia" />
      <xs:enumeration value="Madagascar" />
      <xs:enumeration value="Malawi" />
      <xs:enumeration value="Malaysia" />
      <xs:enumeration value="Maldives" />
      <xs:enumeration value="Mali" />
      <xs:enumeration value="Malta" />
      <xs:enumeration value="MarshallIslands" />
      <xs:enumeration value="Martinique" />
      <xs:enumeration value="Mauritania" />
      <xs:enumeration value="Mauritius" />
      <xs:enumeration value="Mayotte" />
      <xs:enumeration value="Mexico" />
      <xs:enumeration value="FederatedStatesOfMicronesia" />
      <xs:enumeration value="Moldova" />
      <xs:enumeration value="Monaco" />
      <xs:enumeration value="Mongolia" />
      <xs:enumeration value="Montserrat" />
      <xs:enumeration value="Morocco" />
      <xs:enumeration value="Mozambique" />
      <xs:enumeration value="Namibia" />
      <xs:enumeration value="Nauru" />
      <xs:enumeration value="NavassaIsland" />
      <xs:enumeration value="Nepal" />
      <xs:enumeration value="Netherlands" />
      <xs:enumeration value="NetherlandsAntilles" />
      <xs:enumeration value="NewCaledonia" />
      <xs:enumeration value="NewZealand" />
      <xs:enumeration value="Nicaragua" />
      <xs:enumeration value="Niger" />
      <xs:enumeration value="Nigeria" />
      <xs:enumeration value="Niue" />
      <xs:enumeration value="NorfolkIsland" />
      <xs:enumeration value="NorthernMarianaIslands" />
      <xs:enumeration value="Norway" />
      <xs:enumeration value="Oman" />
      <xs:enumeration value="Pakistan" />
      <xs:enumeration value="Palau" />
      <xs:enumeration value="Panama" />
      <xs:enumeration value="PapuaNewGuinea" />
      <xs:enumeration value="ParacelIslands" />
      <xs:enumeration value="Paraguay" />
      <xs:enumeration value="Peru" />
      <xs:enumeration value="Philippines" />
      <xs:enumeration value="PitcairnIslands" />
      <xs:enumeration value="Poland" />
      <xs:enumeration value="Portugal" />
      <xs:enumeration value="PuertoRico" />
      <xs:enumeration value="Qatar" />
      <xs:enumeration value="Reunion" />
      <xs:enumeration value="Romania" />
      <xs:enumeration value="Russia" />
      <xs:enumeration value="Rwanda" />
      <xs:enumeration value="SaintHelena" />
      <xs:enumeration value="SaintKittsAndNevis" />
      <xs:enumeration value="SaintLucia" />
      <xs:enumeration value="SaintPierreAndMiquelon" />
      <xs:enumeration value="SaintVincentAndTheGrenadines" />
      <xs:enumeration value="Samoa" />
      <xs:enumeration value="SanMarino" />
      <xs:enumeration value="SaoTomeAndPrincipe" />
      <xs:enumeration value="SaudiArabia" />
      <xs:enumeration value="Senegal" />
      <xs:enumeration value="SerbiaAndMontenegro" />
      <xs:enumeration value="Seychelles" />
      <xs:enumeration value="SierraLeone" />
      <xs:enumeration value="Singapore" />
      <xs:enumeration value="Slovakia" />
      <xs:enumeration value="Slovenia" />
      <xs:enumeration value="SolomonIslands" />
      <xs:enumeration value="Somalia" />
      <xs:enumeration value="SouthAfrica" />
      <xs:enumeration value="SouthGeorgiaAndTheSouthSandwichIslands" />
      <xs:enumeration value="Spain" />
      <xs:enumeration value="SpratlyIslands" />
      <xs:enumeration value="SriLanka" />
      <xs:enumeration value="Sudan" />
      <xs:enumeration value="Suriname" />
      <xs:enumeration value="Svalbard" />
      <xs:enumeration value="Swaziland" />
      <xs:enumeration value="Sweden" />
      <xs:enumeration value="Switzerland" />
      <xs:enumeration value="Syria" />
      <xs:enumeration value="Taiwan" />
      <xs:enumeration value="Tajikistan" />
      <xs:enumeration value="Tanzania" />
      <xs:enumeration value="Thailand" />
      <xs:enumeration value="TimorLeste" />
      <xs:enumeration value="Togo" />
      <xs:enumeration value="Tokelau" />
      <xs:enumeration value="Tonga" />
      <xs:enumeration value="TrinidadAndTobago" />
      <xs:enumeration value="TromelinIsland" />
      <xs:enumeration value="Tunisia" />
      <xs:enumeration value="Turkey" />
      <xs:enumeration value="Turkmenistan" />
      <xs:enumeration value="TurksAndCaicosIslands" />
      <xs:enumeration value="Tuvalu" />
      <xs:enumeration value="Uganda" />
      <xs:enumeration value="Ukraine" />
      <xs:enumeration value="UnitedArabEmirates" />
      <xs:enumeration value="UnitedKingdom" />
      <xs:enumeration value="UnitedStates" />
      <xs:enumeration value="Uruguay" />
      <xs:enumeration value="Uzbekistan" />
      <xs:enumeration value="Vanuatu" />
      <xs:enumeration value="Venezuela" />
      <xs:enumeration value="Vietnam" />
      <xs:enumeration value="VirginIslands" />
      <xs:enumeration value="WakeIsland" />
      <xs:enumeration value="WallisAndFutuna" />
      <xs:enumeration value="WestBank" />
      <xs:enumeration value="WesternSahara" />
      <xs:enumeration value="Yemen" />
      <xs:enumeration value="Zambia" />
      <xs:enumeration value="Zimbabwe" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfSocialMediaProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialMediaProfile" nillable="true" type="tns:SocialMediaProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialMediaProfile" nillable="true" type="tns:ArrayOfSocialMediaProfile" />
  <xs:complexType name="SocialMediaProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="NotificationOptions" nillable="true" type="tns:ArrayOfSocialMediaNotification" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocialMediaType" nillable="true" type="tns:SocialMediaType" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaProfile" nillable="true" type="tns:SocialMediaProfile" />
  <xs:complexType name="ArrayOfSocialMediaNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialMediaNotification" nillable="true" type="tns:SocialMediaNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialMediaNotification" nillable="true" type="tns:ArrayOfSocialMediaNotification" />
  <xs:complexType name="SocialMediaNotification">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaNotification" nillable="true" type="tns:SocialMediaNotification" />
  <xs:complexType name="SocialMediaType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaType" nillable="true" type="tns:SocialMediaType" />
</xs:schema>