Source/IndoorWorx.Library.Silverlight/Service References/ApplicationUserServiceReference/ApplicationUserService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AddVideoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddVideoRequest" nillable="true" type="tns:AddVideoRequest" />
  <xs:complexType name="AddTemplateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TemplateId" type="ser:guid" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddTemplateRequest" nillable="true" type="tns:AddTemplateRequest" />
</xs:schema>