Source/IndoorWorx.Library.Silverlight/Service References/ApplicationUserServiceReference/ApplicationUserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Enums" />
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ApplicationUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="About" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Activities" nillable="true" type="tns:ArrayOfActivity" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Enums" minOccurs="0" name="Country" type="q1:Countries" />
          <xs:element minOccurs="0" name="Credits" type="xs:int" />
          <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Enums" minOccurs="0" name="Gender" type="q2:Genders" />
          <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Occupation" nillable="true" type="tns:Occupation" />
          <xs:element minOccurs="0" name="ReferralSource" nillable="true" type="tns:ReferralSource" />
          <xs:element minOccurs="0" name="SocialProfile" nillable="true" type="tns:ArrayOfSocialMediaProfile" />
          <xs:element minOccurs="0" name="SportingHabits" nillable="true" type="tns:SportingHabits" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Videos" nillable="true" type="tns:ArrayOfVideo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApplicationUser" nillable="true" type="tns:ApplicationUser" />
  <xs:complexType name="BaseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="ArrayOfActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Activity" nillable="true" type="tns:Activity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivity" nillable="true" type="tns:ArrayOfActivity" />
  <xs:complexType name="Activity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityType" nillable="true" type="tns:ActivityType" />
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:ArrayOfEquipment" />
          <xs:element minOccurs="0" name="Measurements" nillable="true" type="tns:ArrayOfMeasurement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Activity" nillable="true" type="tns:Activity" />
  <xs:complexType name="ActivityType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:ArrayOfEquipment" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActivityType" nillable="true" type="tns:ActivityType" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="Equipment">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivityTypes" nillable="true" type="tns:ArrayOfActivityType" />
          <xs:element minOccurs="0" name="EquipmentFeatures" nillable="true" type="tns:ArrayOfEquipmentFeatures" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="tns:Manufacturer" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
  <xs:complexType name="ArrayOfActivityType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActivityType" nillable="true" type="tns:ActivityType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActivityType" nillable="true" type="tns:ArrayOfActivityType" />
  <xs:complexType name="ArrayOfEquipmentFeatures">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentFeatures" nillable="true" type="tns:EquipmentFeatures" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentFeatures" nillable="true" type="tns:ArrayOfEquipmentFeatures" />
  <xs:complexType name="EquipmentFeatures">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Equipment" nillable="true" type="tns:ArrayOfEquipment" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EquipmentFeatures" nillable="true" type="tns:EquipmentFeatures" />
  <xs:complexType name="Manufacturer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Manufacturer" nillable="true" type="tns:Manufacturer" />
  <xs:complexType name="ArrayOfMeasurement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurement" nillable="true" type="tns:Measurement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasurement" nillable="true" type="tns:ArrayOfMeasurement" />
  <xs:complexType name="Measurement">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainingZones" nillable="true" type="tns:ArrayOfTrainingZone" />
          <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="tns:UnitOfMeasure" />
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Measurement" nillable="true" type="tns:Measurement" />
  <xs:complexType name="ArrayOfTrainingZone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingZone" nillable="true" type="tns:TrainingZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingZone" nillable="true" type="tns:ArrayOfTrainingZone" />
  <xs:complexType name="TrainingZone">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColorRepresentation" nillable="true" type="tns:Colour" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Range" nillable="true" type="tns:Range" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingZone" nillable="true" type="tns:TrainingZone" />
  <xs:complexType name="Colour">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alpha" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Blue" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Green" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Red" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Colour" nillable="true" type="tns:Colour" />
  <xs:complexType name="Range">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="LowerValue" type="xs:double" />
          <xs:element minOccurs="0" name="UpperValue" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Range" nillable="true" type="tns:Range" />
  <xs:complexType name="UnitOfMeasure">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnitOfMeasure" nillable="true" type="tns:UnitOfMeasure" />
  <xs:complexType name="Occupation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Occupation" nillable="true" type="tns:Occupation" />
  <xs:complexType name="ReferralSource">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReferralSource" nillable="true" type="tns:ReferralSource" />
  <xs:complexType name="ArrayOfSocialMediaProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialMediaProfile" nillable="true" type="tns:SocialMediaProfile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialMediaProfile" nillable="true" type="tns:ArrayOfSocialMediaProfile" />
  <xs:complexType name="SocialMediaProfile">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="NotificationOptions" nillable="true" type="tns:ArrayOfSocialMediaNotification" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SocialMediaType" nillable="true" type="tns:SocialMediaType" />
          <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaProfile" nillable="true" type="tns:SocialMediaProfile" />
  <xs:complexType name="ArrayOfSocialMediaNotification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SocialMediaNotification" nillable="true" type="tns:SocialMediaNotification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSocialMediaNotification" nillable="true" type="tns:ArrayOfSocialMediaNotification" />
  <xs:complexType name="SocialMediaNotification">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaNotification" nillable="true" type="tns:SocialMediaNotification" />
  <xs:complexType name="SocialMediaType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SocialMediaType" nillable="true" type="tns:SocialMediaType" />
  <xs:complexType name="SportingHabits">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CompetitiveLevel" nillable="true" type="tns:CompetitiveLevel" />
          <xs:element minOccurs="0" name="IndoorTrainingFrequency" nillable="true" type="tns:IndoorTrainingFrequency" />
          <xs:element minOccurs="0" name="MySports" nillable="true" type="tns:ArrayOfSport" />
          <xs:element minOccurs="0" name="TrainingVolume" nillable="true" type="tns:TrainingVolume" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SportingHabits" nillable="true" type="tns:SportingHabits" />
  <xs:complexType name="CompetitiveLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompetitiveLevel" nillable="true" type="tns:CompetitiveLevel" />
  <xs:complexType name="IndoorTrainingFrequency">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IndoorTrainingFrequency" nillable="true" type="tns:IndoorTrainingFrequency" />
  <xs:complexType name="ArrayOfSport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sport" nillable="true" type="tns:Sport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSport" nillable="true" type="tns:ArrayOfSport" />
  <xs:complexType name="Sport">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Sport" nillable="true" type="tns:Sport" />
  <xs:complexType name="TrainingVolume">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingVolume" nillable="true" type="tns:TrainingVolume" />
  <xs:complexType name="ArrayOfVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Video" nillable="true" type="tns:Video" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideo" nillable="true" type="tns:ArrayOfVideo" />
  <xs:complexType name="Video">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Credits" type="xs:int" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Duration" type="ser:duration" />
          <xs:element minOccurs="0" name="ImageUri" nillable="true" type="xs:anyURI" />
          <xs:element minOccurs="0" name="Intervals" nillable="true" type="tns:ArrayOfInterval" />
          <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfVideoReview" />
          <xs:element minOccurs="0" name="Sequence" type="xs:int" />
          <xs:element minOccurs="0" name="StreamUri" nillable="true" type="xs:anyURI" />
          <xs:element minOccurs="0" name="TelemetryInfo" nillable="true" type="tns:TelemetryInfo" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrainingMetrics" nillable="true" type="tns:ArrayOfTrainingMetric" />
          <xs:element minOccurs="0" name="VideoMetadata" nillable="true" type="tns:VideoMetadata" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Video" nillable="true" type="tns:Video" />
  <xs:complexType name="AuditableModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Created" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuditableModel" nillable="true" type="tns:AuditableModel" />
  <xs:complexType name="ArrayOfInterval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Interval" nillable="true" type="tns:Interval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterval" nillable="true" type="tns:ArrayOfInterval" />
  <xs:complexType name="Interval">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndTime" type="ser:duration" />
          <xs:element minOccurs="0" name="IntervalType" nillable="true" type="tns:IntervalType" />
          <xs:element minOccurs="0" name="StartTime" type="ser:duration" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Interval" nillable="true" type="tns:Interval" />
  <xs:complexType name="IntervalType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntervalType" nillable="true" type="tns:IntervalType" />
  <xs:complexType name="ArrayOfVideoReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoReview" nillable="true" type="tns:VideoReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoReview" nillable="true" type="tns:ArrayOfVideoReview" />
  <xs:complexType name="VideoReview">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Review">
        <xs:sequence>
          <xs:element minOccurs="0" name="Video" nillable="true" type="tns:Video" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoReview" nillable="true" type="tns:VideoReview" />
  <xs:complexType name="Review">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AuditableModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rating" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="TelemetryInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="RecordingInterval" type="xs:int" />
          <xs:element minOccurs="0" name="TelemetryUri" nillable="true" type="xs:anyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TelemetryInfo" nillable="true" type="tns:TelemetryInfo" />
  <xs:complexType name="ArrayOfTrainingMetric">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrainingMetric" nillable="true" type="tns:TrainingMetric" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrainingMetric" nillable="true" type="tns:ArrayOfTrainingMetric" />
  <xs:complexType name="TrainingMetric">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Type" nillable="true" type="tns:TrainingMetricType" />
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingMetric" nillable="true" type="tns:TrainingMetric" />
  <xs:complexType name="TrainingMetricType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Calculator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrainingMetricType" nillable="true" type="tns:TrainingMetricType" />
  <xs:complexType name="VideoMetadata">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FilmedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FilmedWith" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WhenFilmed" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VideoMetadata" nillable="true" type="tns:VideoMetadata" />
  <xs:complexType name="ArrayOfOccupation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Occupation" nillable="true" type="tns:Occupation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOccupation" nillable="true" type="tns:ArrayOfOccupation" />
  <xs:complexType name="ArrayOfReferralSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralSource" nillable="true" type="tns:ReferralSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferralSource" nillable="true" type="tns:ArrayOfReferralSource" />
  <xs:simpleType name="AddVideoStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="InsufficientCredits" />
      <xs:enumeration value="VideoAlreadyAdded" />
      <xs:enumeration value="Error">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AddVideoStatus" nillable="true" type="tns:AddVideoStatus" />
</xs:schema>