Source/IndoorWorx.Library.Silverlight/Service References/ApplicationUserServiceReference/ApplicationUserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" />
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Criteria" />
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" />
  <xs:import schemaLocation="http://localhost:3415/ApplicationUserService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" />
  <xs:element name="SaveApplicationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="user" nillable="true" type="q1:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="SaveApplicationUserResult" nillable="true" type="q2:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveApplicationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Criteria" minOccurs="0" name="criteria" nillable="true" type="q3:ApplicationUserFindCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveApplicationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="RetrieveApplicationUserResult" nillable="true" type="q4:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllOccupations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllOccupationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="RetrieveAllOccupationsResult" nillable="true" type="q5:ArrayOfOccupation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllReferralSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveAllReferralSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Models" minOccurs="0" name="RetrieveAllReferralSourcesResult" nillable="true" type="q6:ArrayOfReferralSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoToLibrary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Requests" minOccurs="0" name="request" nillable="true" type="q7:AddVideoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddVideoToLibraryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IndoorWorx.Infrastructure.Responses" minOccurs="0" name="AddVideoToLibraryResult" nillable="true" type="q8:AddVideoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>